.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
BayesianaAg.RData
Model1Prod.RData
Risk.pd
Risk.tiff
p1A.png
p1A.tiff
p3_all_2.pdf
p1B.pdf
p1B.tiff
p1C.pdf
p1C.png
p1C.tiff
p1D.pdf
p1D.tiff
p1_all.pdf
p3B.pdf
p3_all_2.tiff
p3B.tiff
